* {
    padding: 0px;
}

body {
    background-color: rgb(171, 34, 34);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}

input {
    border-radius: 6px;
}

button {
    border-radius: 6px;
}