* {
    padding: 0px;
}

body {
    background-color: rgb(167, 163, 163);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

}

input {
    border-radius: 6px;
}

button {
    border-radius: 6px;
}